**/ros2_*/log/
**/ros2_*/install/
**/ros2_*/build/
**/*_ws/log/
**/*_ws/install/
**/*_ws/build/
**/__pycache__/**
**/cmake-build-debug/**
**/.idea/**
**/.vscode/settings.json
**/.vscode/c_cpp_properties.json
**.pth
**/src/*-Debug/**
